<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeqifu.growth.mapper.InnovateMapper">
    <!--    查询学生数量-->
    <select id="countInnovate" resultType="Integer">
        select count(*)
        from growth_innovate
        where ypass = "2";
    </select>
</mapper>
